services:
  backend:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    container_name: lottery-backend
    restart: unless-stopped
    ports:
      - "3350:3350"
    volumes:
      - ./data:/app/data
    environment:
      - DENO_ENV=production
      - DATABASE_PATH=/app/data/db.db

  frontend:
    build:
      context: .
      dockerfile: ./frontend/Dockerfile
    container_name: lottery-frontend
    restart: unless-stopped
    ports:
      - "8080:80"
    depends_on:
      - backend

volumes:
  data:
